<a href="https://colab.research.google.com/github/HenriqueHideaki/MachineLearning/blob/main/ImdbRanking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/datasets/sankha1998/tmdb-top-10000-popular-movies-dataset?select=TMDb_updated.CSV
https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows

In [99]:
import pandas as pd
import numpy as np

In [100]:
data = pd.read_csv('/content/Popular Movies TV shows from Prime Videos Netflix version_3.csv')

data.drop(columns = ['Unnamed: 0', 'ID'], inplace = True)
data.rename(columns = {'Title': 'Título do Filme', 'Genre': 'Gênero', 'Rating': 'Faixa Etária', 'Year': 'Ano'})
data.head(n=100)

,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
0,Terminator: Dark Fate,2019,18+,6.2,81,Action & Adventure,0,1
1,Gemini Man,2019,13+,5.7,74,Action & Adventure,0,1
2,Rambo: Last Blood,2019,18+,6.1,72,Action & Adventure,0,1
3,The Courier,2019,18+,4.9,50,Action & Adventure,0,1
4,Crawl,2019,18+,6.1,79,Action & Adventure,0,1
...,...,...,...,...,...,...,...,...
95,Scott Walker: 30 Century Man,2007,all,7.2,62,Biography,0,1
96,The Real Bruce Lee,1977,NaN,4.7,38,Biography,0,1
97,Drew: The Man Behind the Poster,2013,NaN,7.5,59,Biography,0,1
98,Lauda: The Untold Story,2015,NaN,6.4,41,Biography,0,1
99,Pantani: The Accidental Death of a Cyclist,2014,7+,7.0,63,Biography,0,1